# Ignore IDE and editor files
.vscode/
.idea/
*.pyc
*.pyo

# Ignore other unnecessary files
*.gitignore
*.gitattributes
README.md
LICENSE
Makefile

**/build-*

docs/
**/docs/

examples/
**/examples/

tests/
**/tests/

scripts/
**/scripts/

user_modules/
